@charset "UTF-8"; /* Comando para reconhecimento de caracteres */

@font-face {/* Comando usado para adcionar fonte personalizada/baixada  */
    font-family:'Android' ;
    src: url('fontes/idroid.otf'); format: ('opentype') ;
    font-weight: normal; }

@font-face {/* Comando usado para adcionar fonte personalizada */
    font-family:'Bebas Neue' ;
    src: url('fontes/BebasNeue-Regular.ttf'); format: ('opentype') ;
    font-weight: normal; }


:root { /* Comando usado para criar variaveis ex: cores para depois chama-las nas edições . facilitando tbm a manutenção*/
    --cor0: #c5ebd6; 
    --cor1: #83e1ad; 
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e; 

    --fonte-padrao : arial ,verdana,sans-serif; 
    --fonte-destaque :'Bebas Neue' , cursive ; 
    --fonte-Android : 'Android' , cursive ;
}

* { /* * usado para configurar todos os elementos h1 , h2 etc.. */

     margin: 0px; 
    padding: 0px;} 

body { /*configurações geral body*/
    background-color: var(--cor0);
    font-family: var var(--fonte-padrao);
} 


/*configurações do cabeçalho */
header { /*cabeçalho*/
    /*backgroud image usado para fazer cor formato degrade.*/
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));
    min-height: 150px; 
    text-align: center;
    padding-top: 40px ;
}
header > h1 { 
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em; /*tamanho da fonte*/ 
    margin-bottom: 20px;     
    text-shadow: 2px 2px 0px rgba(19, 19, 19, 0.329);
}
header > p { 
        color: rgb(231, 227, 227);
        font-size: 1.2em;
        font-family: var(--fonte-padrao);
        max-width: 600px; 
        padding-right : 10px;
        padding-left: 10px;
        margin: auto;
        text-shadow: 2px 2px 0px rgba(20, 20, 20, 0.205);)

}

/*configurações do menu principal */
nav { /*Menu principal*/
    background-color: var(--cor5); 
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.212); 
    text-align: center;
}
nav > a {  /*Personalizando "a" (links)*/ 

        color: white; 
        padding: 10px; 
        text-decoration: none;
        font-weight: bold; /*deixando fonte negrito*/    
        transition-duration: 0.1s;
    }
nav > a:hover {
    background-color: #83e1ad;
    color: #063d1e;
    border-radius: 15px; 
    
}

/*configurações da main */
main { /* Conteudo principal */
        background-color:  white;   
        min-width: 300px; /* Largura min do conteudo */    
        max-width: 1000px; /* Largura max do conteudo */ 
        margin: auto; /*serve para deixar conteudo no modo auto , centralizando-o sempre */
        margin-bottom: 30px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
        border-bottom-left-radius :10px ;
        border-bottom-right-radius: 10px;
}
         
main img { /*configurando imagens */ 
    width: 100%; 
}
main img.pequena { /*Configurando img com class */
    width: 350px;
    display: block;
    margin: auto; 
    /* class img pequena usada no html 'bugdroid' para manter img pequena .
     outra solução seria ter 2 tamanhos de imagens */ 
}   

main h1 { 
    color :var(--cor5); 
    font-family: var(--fonte-Android);
    font-size: 1.5em;
}

main h2 { 
    color :var(--cor5); 
    font-family: var(--fonte-Android);
    font-size: 1.5em;
}
main h3 {
    color :var(--cor5); 
    font-family: var(--fonte-padrao);
    font-size: 1.5em; 
}

main p {
    margin: 15px 0px ; 
    text-align: justify;
    text-indent: 30px;
}
main a { /*links da main*/
    color:var(--cor5);
    font-weight: bold;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}
main ul {
    list-style-position: inside;
    columns: 2
}
/*Configuraçoes de Videos externos */
div.video {
    background-color: #2fa866 ;
    /* pode usar tbm : margin-bottom: 30px ; Margem abaixo para ter espaço entre conteudos*/
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.7%; /*configuração para sumir barra preta do youtube*/
    position: relative;
}
div.video >iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

/*configuraçoes da aside*/ 
aside {
    background-color: #a9f8cbc4;
    border-radius: 5px;
    padding: 5px;
}
aside h3 {
    background-color :var(--cor5); 
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.em;
    margin: -5px -5px 0px -5px; 
    border-radius: 10px 10px 0px 0px;
    padding: 1px;
}
aside ul {
    list-style-position: inside;
    columns: 2
}

/*configurações do rodapé */
footer { /*roda pe*/
    background-color: var(--cor5); 
    color:var(--cor0);
    text-decoration: none;
    font-weight: bold; /*deixando fonte negrito*/    
    transition-duration: 0.3s;
    padding: 10px; 
    text-align: center;
}
footer a {
    color: white;
    
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor3);

}



      






