@charset "UTF-8"; 

* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body { 
    max-width: 100vw;
    margin: 0 auto;
    background-color: black;
}

/*/* CONFIGURAÇOES HEADER  ////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 

header { 
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 { 
    color: red;
    font-size: 2.5rem;
}
header span { 
    color:white;
}
header .navegação-primaria { 
    display: flex;
    gap: 10px;
    align-items: center;
}
header .navegação-primaria li a{ 
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}
header .navegação-primaria li a::after{ 
    content: '';
    width: 10px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .5s;
}
header .navegação-primaria li a:hover::after{
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid #dc3545;

}    


/* Download CV secao */ 
/* CONFIGURAÇOES .section-div  ////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.section-div {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: space-around;
    align-items: center ; 
    gap: 60px;
    padding: 60px;
    
    
}    
.section-div div { 
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
    animation: inicializar .7s forwards;
}

.section-div div h2 { 
    font-weight: 600;
    color: rgb(229, 227, 227);
}
.section-div div p { 
    font-weight: 200;
    color: white;
}

.section-div div a{ 
    justify-self: start;
    padding: 15px 40px;
    border-radius: 8px;
    border: 2px solid rgb(215, 213, 213);
    color: white;
    font-size: 1rem;
}
.section-div div a:hover {
    background: linear-gradient(purple,violet);
}
.section-div img { 
   max-width: 100%;
   padding: 0px;
 
}
@keyframes inicializar { 
    from { 
        opacity: 0;
        transform: translate3d(0,-60px,0);
    }
    to { 
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
/*configuraçoes Part2 Main  ////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
main{ 
    background-color: black;
    color :white;
    ;
}   
main .sobre { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    justify-content: center;
    padding :40px;
}
/* CONFIGURAÇOES .sobre_titulo   ////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.sobre_titulo { 
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: white;
}
.sobre_titulo h1 { 
    font-size: 2.5rem; 
    color:#ff5d56 ;
    margin-bottom: 15px;
} 

.sobre_titulo p { 
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position:relative
}
.sobre_titulo div { 
    display: flex ;
    gap: 10px;
    justify-content: center;
}

.sobre_titulo span { 
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%; 
    background-color: #dc3545;
}
/* CONFIGURAÇOES .sobre > img  ////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sobre img {
    animation: ladoSecao .5s ease-in forwards; 
    cursor: pointer;
    grid-row: 2 ;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}
.sobre img:hover { 
    transition : .5s ease-in;
    filter:blur(1px);
}
/* CONFIGURAÇOES .sobre_conteudo  ////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sobre_conteudo { 
    animation: sobeSecao.6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}
/* CONFIGURAÇOES .sobre_texto  ////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sobre_texto { 
    display: grid;
    grid-column: 1/-1;
    grid-template-columns:  1fr 1fr ;

}

.sobre_texto h1 { 
    font-size: 2.3rem;
    color: white ;
    grid-column: 1/-1;
}

.sobre_texto h1::after { 
    background-color: #ff5d56;
    height: 6px;
    width: 60px;
    margin: 20px 0 ;
    content :'';
    display: block;
    border-radius: 7px;
}
.sobre_texto p { 
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
   /* gap :15px ; 
    align-items: center;*/

} 
/* CONFIGURAÇOES .sobre_info  ////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sobre_info { 
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}
.sobre_info i { 
    color: #dc3545;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}
.sobre_info p { 
    font-size: .9rem;
}

/*configuração de Animação e transição  ////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@keyframes sobeSecao{
    from { 
        transition:.5s ;
        transform: translate3d(60px,0,0);
    }
    to { 
        transform: translate3d(0,0,0);
    }
}
  
@keyframes ladoSecao{
    from { 
        transition:.5s ;
        transform: translate3d(-60px,0,0);
    }
    to { 
        transform: translate3d(0,0,0);
    }
}
@keyframes animationImagemButton { 
    0% { 
        opacity: 0;
        transform:translate3d(0.-90px,0);
    }
    100% { 
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}


/* RESPONSIVO  ////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 
 
@media (max-width:1090px) { 
    .resume_generica .experience_content,
    .education_content { 
        justify-self: center;
        grid-column: 1/-1;
    }
    .resume_generica .education { 
        grid-column: 1/-1;
        grid-row: 3;
        justify-self: center;
        margin: 30px 0;
    }
    .resume_generica .experience {
        grid-column: 1/-1;
        grid-row: 1;
        justify-self: center;
    }
    .cursos {
        grid-template-columns: 1fr;
    }
    .cursos .funfacts h2 {
        justify-self: center;
    }
    .cursos .funfacts { 
        margin-bottom: 30px;
        text-align: center;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-column: 1/-1;
    }
    .cursos .my_skill h2 {
        justify-self: center;
    }
    .cursos .my_skill { 
       
        text-align: center;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-column: 1/-1;
    }
}
    

@media(max-width:992px) {
    .section-div img { 
        display: none;
    }
    .section-div { 
        background-image: url(Imagens/kat\ 500x313.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    header { 
        justify-content: space-between;
        padding: 30px 70px;
    }

    header .navegação-primaria{ 
        display:none;
    }
    header .navegação-primaria.ativado {
        background:linear-gradient(red ,blue );
        position: absolute;
        display: grid;
        top: 80px; 
        color:white; 
        z-index: 1;
        padding: 10px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 6px 6px 6px 6px;
        right: 20px;
        animation: sobeSecao .6s ease-in-out forwards;
    }
    header i { 
        color: #f7f7f7;
        font-size: 2rem;

    }
 }

@media(max-width:992px) { 
    .sobre img { 
        grid-column: 1/-1;
        justify-self: center;
    }
    .sobre_conteudo { 
        grid-column: 1/-1;
    }
 }

 /*Configuraçoes My_services  ////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
 .services { 
    margin-top: 30px;
    padding: 60px;
    background-color: #151515;

 }
 .my_services { 
    color: white ;
    padding: 60px;

 }
.my_services ul { 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.my_services ul li { 
    cursor:pointer; 
    border-radius: 10px;
    position: relative;
    padding: 10px;
    display: grid;
    gap:30px; 
    text-align: center;
    max-width: 300px;
    align-content: center;
    height:300px;
    background-color: #222;
    margin: 10px ;

}
.my_services ul li i { 
    font-size: 1.7em;
    color: #dc3545;
}
.my_services ul li h3 { 
    color: white;
    font-size: 1.6em;
    font-weight: 500;

}
.my_services ul li p {
    color :#707070 ;
}

.my_services li::before { 
    border-radius: 6px;
    content:''; 
    transition: .4s ease-in-out;
    width: 0px; 
    height: 0px; 
    position: absolute; 
    top:-2px; 
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.my_services li::after { 
    border-radius: 6px;
    transition: .4s ease-in-out;
    content:''; 
    width: 0px; 
    height: 0px; 
    position: absolute; 
    bottom:-2px; 
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.my_services li:hover::before { 
    width:100% ; 
    height: 100%;
    border-top: 2px solid red;
    border-right: 2px solid red;
    

}
.my_services li:hover::after { 
    width:100% ; 
    height: 100%;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
}
/*Configuraçoes my-resume  ////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.resume_generica { 
    padding: 30px;
    display: grid;
    grid-template-columns:  1fr 1fr;
    justify-content: center;
    gap:10px;
    align-items: start;
}
.resume_generica h2{
    font-size: 1.5em;
    background-color: #ff5d56;
    justify-self: start;
    padding: 10px;
    border-radius: 3px;
    color: white;
}
.resume_generica h2 i{
    margin-right: 10px;
}

.experience { 
    margin-bottom: 30px;
    grid-column: 1;
    grid-row: 1;
}

.experience_content ul { 
    color: #dc3545 ;
    gap:10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;

}

.resume_generica .experience_content div { 
    background-color: #222;
    padding: 40px; 
    position: relative;
    color: white;
    animation: ladoSecao .5s ease-in-out forwards;
    display: none;
}
.resume_generica .experience_content div.ativo { 
    display: block;
}

.resume_generica .experience_content div::before { 
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #222;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;

}
.resume_generica .experience_content div span { 
    color: #dc3545;
    font-weight: bolder ;
}
.resume_generica .experience_content div h3 { 
    margin:  10px 0;


}
.resume_generica .experience_content div p { 
    color :#d0c3c3;
}
.experience_content ul li.ativo { 
    color: #3e3d3d;
}

/* Config Diplomas e Cursos education_content  ////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 
.resume_generica .education_content div { 
    background-color: #222;
    padding: 40px; 
    display: none;
    animation: ladoSecao .5s ease-in-out forwards;
    position: relative;
}

.resume_generica .education_content div::before { 
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #222;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;

}

.resume_generica .education_content div span { 
    color: #dc3545;
    font-weight: bolder ;  
}
.resume_generica .education_content div h3 { 
    margin:  10px 0;
    color: white;
}
.resume_generica .education_content div p{ 
    color :#d0c3c3;
}
.education { 
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 1;
    
}
.education_content ul { 
    color: #dc3545 ;
    gap:10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}
.education_content ul li.ativo { 
    color: #3e3d3d;
}

.resume_generica .education_content div.ativo { 
    display: block; 

}

    
/*Cursos e Skills my_skill////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 
.cursos { 
    margin-top: 50px;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    align-items: start;
    padding: 30px;
    gap:  30px;
    justify-content: center;
}
.my_skill { 
    display: grid;
}

.my_skill h2 { 

    padding: 10px 30px;
    border-radius: 3px;
    background-color: #ff5d56;
    font-size: 1.3em;
    margin-bottom: 30px;
    justify-self: start;

}
.my_skill h2 i { 
    padding-right: 10px;
}
.skill_content { 
    font-size: 1.3em;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 10px;

}
.skill_content h3 { 
    font-size: 1.5em;
}
.skill_content ul {
    display: flex; 

}
/*conf funfacts //////////////////////////////////////////////////////////////////////////////////////////////*/

.funfacts { 
    grid-column: 3/-1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr ;

}
.funfacts h2 { 
    grid-column: 1/-1;
    padding: 10px 30px ;
    border-radius: 3px;
    font-size: 1.5rem;
    background-color: #ff5d56;
    margin-bottom: 30px;
    justify-self: start;
}
.funfacts h2 i { 
    padding-right: 10px;
}
.funfacts ul li { 
    background-color: #222;
    border: 3px solid #2f2b2b;
    grid-template-columns: auto 1fr;
    align-self: start ; 
    width: 200px;
    height: 100px;
}
.funfacts ul li i { 
    grid-row: 1/3;
    margin: auto;
    padding: 20px;
    font-size: 1.5em;
    color: #ff5d56;
    border-right: 2px solid #3e3d3d; 

}
.funfacts ul li span { 
    font-size: 1.5em ;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}
.funfacts ul li p { 
    padding-left: 10px;
    color: #707070;
    font-weight: bold;



}
.funfacts ul { 
    display: grid;
    grid-template-columns:  1fr 1fr ;
    gap: 30px;
}

/*Configuraçoes .projects ////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////*/

.projects { 
    padding: 30px;
    display: grid;
    justify-content: center;
    gap: 30px;
    background-color: #151515;
}
.projects a { 
    background-color: #222;
    text-decoration: none;
    justify-self: center;
    padding: 20px 40px;
    border: 1px solid #333 ;
    border-radius: 4px;
    color: #707070;
}
.projects a:hover { 
    color: dodgerblue;
}
.projects ul { 
    display: flex;
    justify-content: center;
    gap: 30px; 
}
.projects_models ul li { 
    cursor: pointer;
    background-color: #222;
    border: 1px solid #333; 
    padding: 6px 20px;
}
/*config armazenamento*/
.projects_armazenamento ul { 
    display: grid;
    margin-top: 60px;
    gap: 20px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.projects_armazenamento ul li { 
    
    max-width: 100%;
    height: 100%;
}
.projects_armazenamento ul li.ativo {
    display: block;
    animation: animationImagemButton 2s ease-in-out forwards;
}
.projects_armazenamento ul li img { 
    max-width: 100%;
    height: 100%;
    border-radius: 6px;
    cursor: pointer;
}

/* FOOTER /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer { 
    background-color:  black;
    padding: 30px;

}
.footer_sociais { 
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    color: white;
}
.footer_sociais li { 
    background-color: #3e3d3d;
    border-radius: 50%;
    border: 1px solid #333 ;

}
.footer_sociais li i { 
    padding: 30px;
    font-size: 1.5rem;
    color: white;
}
.footer_sociais li:hover { 
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #10ce56;
}
.footer_sociais::before { 
    content:'';
    height: 5px;
    width: 200px;
    position: absolute;
    background-color: #222;
    bottom: -30px;
}
footer .footer_comercial { 
    text-align: center;
    color :white;
    margin: 90px auto;
    font-size: 1.5rem;
}




























